<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Sniadaniowo_Address>
            <version>1.0.0</version>
        </Sniadaniowo_Address>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <number><billing>1</billing><shipping>1</shipping></number>
                <apartment><billing>1</billing><shipping>1</shipping></apartment>
                <intercom><shipping>1</shipping></intercom>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <models>
            <address>
                <class>Sniadaniowo_Address_Model</class>
            </address>
        </models>
        <resources>
            <address_setup>
                <setup>
                    <module>Sniadaniowo_Address</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </address_setup>
            <address_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </address_write>
            <address_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </address_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <number><to_order>*</to_order></number>
                <apartemnt><to_order>*</to_order></apartemnt>
                <intercom><to_order>*</to_order></intercom>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <number><to_order>*</to_order></number>
                <apartemnt><to_order>*</to_order></apartemnt>
                <intercom><to_order>*</to_order></intercom>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <number><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></number>
                <apartemnt><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></apartemnt>
                <intercom><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></intercom>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <number><to_quote_address>*</to_quote_address></number>
                <apartemnt><to_quote_address>*</to_quote_address></apartemnt>
                <intercom><to_quote_address>*</to_quote_address></intercom>
            </sales_convert_order_address>
            <customer_address>
                <number><to_quote_address>*</to_quote_address></number>
                <apartemnt><to_quote_address>*</to_quote_address></apartemnt>
                <intercom><to_quote_address>*</to_quote_address></intercom>
            </customer_address>
            <checkout_onepage_billing>
                <number><to_customer>*</to_customer></number>
                <apartemnt><to_customer>*</to_customer></apartemnt>
                <intercom><to_customer>*</to_customer></intercom>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
</config>