<?xml version="1.0"?>
<config>
    <modules>
        <Sniadaniowo_Blockeddates>
            <version>0.1.0</version>
        </Sniadaniowo_Blockeddates>
    </modules>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sniadaniowo_Blockeddates after="Mage_Adminhtml">Sniadaniowo_Blockeddates</Sniadaniowo_Blockeddates>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
</config>